main {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--background-primary);

    & header {
        margin-top: 5rem;
    }

    & .back {
        margin-top: 2rem;
        display: flex;
        align-items: center;

        font: var(--font-link);
        color: var(--color-brand);

        margin-bottom: 1rem;
    }

    & h1 {
        font: var(--font-title);
        color: var(--content-primary);
        margin-bottom: 2.75rem;

    }

    & fieldset {
        border: none;
        width: 100%;
        max-width: 40rem;
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    & form {
        display: flex;
        flex-direction: row;

        gap: 1rem;

        & #new-item {
            width: 29rem;
            height: 2.75rem;

            display: flex;
            flex-direction: column;

            font-size: var(--font-paragraph);
            border: 1px solid var(--border-primary);
            color: var(--content-tertiary);
            border-radius: .750rem;

            padding-left: 1rem;


            &:hover {
                border: 1px solid var(--border-hover);
            }

            &:focus {
                border: 1px solid var(--color-brand);
                outline: none;
                color: var(--content-primary)
            }

        }

        & .button-primary {
            border: none;
            border-radius: .750rem;

            width: 10rem;

            font: var(--font-label);
            color: var(--always-white);
            background-color: var(--color-brand);

            cursor: pointer;

            &:hover,
            &:focus {
                background-color: var(--color-brand-hover);
            }
        }
    }

    & .items-list {
        margin-top: 2.5rem;
        list-style: none;

        & .item {
            width: 100%;
            height: 3rem;

            font: var(--font-paragraph);
            background-color: var(--background-secondary);
            color: var(--content-primary);
            border-radius: .750rem;
            padding-left: 1rem;

        }

        & li {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin-bottom: 1rem;

            /* & input[type="checkbox"] {
                list-style: none;
                opacity: 0;
            } */

            & .check {
                margin-right: .750rem;
                cursor: pointer;
            }

            & span {
                color: var(--content-tertiary);
            }

            & .delete {
                margin-left: auto;
                margin-right: 1rem;
                border: none;
                font-size: 1.2rem;
                cursor: pointer;
            }

        }
    }

}